apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-hba
  namespace: tasklistapp
  labels:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: postgresdb
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: tasklistapp
    app.kubernetes.io/managed-by: argocd
data:
  pg_hba.conf: |
    # TYPE  DATABASE        USER            ADDRESS             METHOD
    local   all             all                                 trust
    host    all             all             127.0.0.1/32        trust
    host    all             all             ::1/128             trust

    host    all             all             10.1.0.0/16         md5
    host    all             all             0.0.0.0/0           md5
