apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Base resources
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - ghcr-secret.yaml
  
  # Postgres resources
  - postgres-manifests/postgresdb-configmap.yaml
  - postgres-manifests/postgresdb-service.yaml
  - postgres-manifests/postgresdb-deployment.yaml
  - postgres-manifests/postgresdb-pvc.yaml
  
  # Frontend resources
  - frontend-manifests/frontend-configmap.yaml
  - frontend-manifests/frontend-service.yaml
  - frontend-manifests/frontend-deployment.yaml
  - frontend-manifests/nginx-configmap.yaml
  
  # Backend resources
  - api-manifests/tasklistapi-configmap.yaml
  - api-manifests/tasklistapi-secrets.yaml
  - api-manifests/tasklistapi-service.yaml
  - api-manifests/tasklistapi-deployment.yaml
  
  # Ingress resources
  - ingress/frontend-ingress.yaml
  - ingress/backend-ingress.yaml
  - microk8s-hostpath-immediate.yaml
  - tasklistapp-secrets.yaml

# Common labels for all resources
commonLabels:
  app.kubernetes.io/part-of: tasklistapp
  app.kubernetes.io/managed-by: argocd

# Common annotations
commonAnnotations:
  argocd.argoproj.io/sync-options: PruneLast=true

# Image overrides
images:
  - name: ghcr.io/slmakomazi/tasklistapp-frontend
    newName: ghcr.io/slmakomazi/tasklistapp
    newTag: frontend-latest
  - name: ghcr.io/slmakomazi/tasklistapp
    newName: ghcr.io/slmakomazi/tasklistapp
    newTag: api-latest
  - name: postgres
    newName: ghcr.io/slmakomazi/tasklistapp
    newTag: db-latest

# Deployment patches
patches:
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/selector/matchLabels
        value:
          app: tasklistapp
          tier: frontend
      - op: replace
        path: /spec/template/metadata/labels
        value:
          app: tasklistapp
          tier: frontend
          app.kubernetes.io/name: tasklistapp-frontend
          app.kubernetes.io/instance: tasklistapp-frontend
          app.kubernetes.io/version: "1.0.0"
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: ghcr-secret
  - target:
      kind: Deployment
      name: tasklistapi-deployment
    patch: |-
      - op: replace
        path: /spec/selector/matchLabels
        value:
          app: tasklistapp
      - op: replace
        path: /spec/template/metadata/labels
        value:
          app: tasklistapp
          app.kubernetes.io/name: tasklistapp
          app.kubernetes.io/instance: tasklistapp
          app.kubernetes.io/version: "1.0.0"
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: ghcr-secret
