apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tasklistapp
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app.kubernetes.io/name: tasklistapp
    app.kubernetes.io/instance: tasklistapp
spec:
  project: default
  source:
    repoURL: https://github.com/SLMakomazi/TasklistApp.git
    targetRevision: HEAD
    path: k8s
    kustomize:
      version: v4.5.5
      commonLabels:
        app.kubernetes.io/name: tasklistapp
        app.kubernetes.io/instance: tasklistapp
        app.kubernetes.io/part-of: tasklistapp
        app.kubernetes.io/managed-by: argocd
      commonAnnotations:
        argocd.argoproj.io/sync-options: PruneLast=true
  destination:
    server: https://kubernetes.default.svc
    namespace: tasklistapp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
